<% provide(:title, "List Maps") %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Map type</th>
      <th>Name</th>
      <th>Description</th>
      <th>Map width</th>
      <th>Map height</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if @maps && @maps.size > 0 %>
	    <% @maps.each do |map| %>
	      <tr>
	        <td><%= map.user_id %></td>
	        <td><%= map.map_type %></td>
	        <td><%= map.name %></td>
	        <td><%= map.description %></td>
	        <td><%= map.map_width %></td>
	        <td><%= map.map_height %></td>
	        <td><%= link_to 'Show', map %></td>
	        <td><%= link_to 'Edit', edit_map_path(map) %></td>
	        <td><%= link_to 'Destroy', map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Map', new_map_path %>
